@import url('https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  /* ===== Pallete ===== */
  /* Primary Pallete */
  --color-primary-50: #fffef5;
  --color-primary-100: #fcfaea;
  --color-primary-200: #faf3c7;
  --color-primary-300: #f5e693;
  --color-primary-400: #f0d254;
  --color-primary-500: #eabe2f;
  --color-primary-600: #d9a319;
  --color-primary-700: #bb7f13;
  --color-primary-800: #965b12;
  --color-primary-900: #7c4917;
  --color-primary-950: #3e1f0a;

  /* Neutral Pallete */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #2c2c2c;
  --color-neutral-800: #202020;
  --color-neutral-900: #191919;
  --color-neutral-950: #0f0f0f;

  /* Error Pallete */
  --color-error-50: #fef2f2;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;

  /* Success Pallete */
  --color-success-50: #ecfdf5;
  --color-success-500: #10b981;
  --color-success-600: #059669;

  /* Warning Pallete */
  --color-warning-50: #fffbeb;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;

  /* ===== Semantic Aliases ===== */
  /* Text Colors */
  --color-text-main: var(--color-neutral-50);
  --color-text-sub: var(--color-neutral-400);
  --color-text-disabled: var(--color-neutral-600);
  --color-text-primary: var(--color-primary-500);

  /* Background Colors */
  --color-bg-main: var(--color-neutral-900);
  --color-bg-nav: var(--color-neutral-800);
  --color-bg-card: var(--color-neutral-700);

  /* Border Colors */
  --color-border-default: var(--color-neutral-700);
  --color-border-hover: var(--color-neutral-600);
  --color-border-active: var(--color-primary-500);

  /* Status Colors */
  --color-text-error: var(--color-error-500);
  --color-bg-error: var(--color-error-50);

  /* Fonts */
  --font-family-sans: 'Noto Sans KR', sans-serif;
  --font-family-logo: 'Outfit', sans-serif;
}

/* 스크롤바 숨기기 */
* {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  /* Chrome, Safari, Opera */
  display: none;
}
